<img src="{{data.image_url}}" width="100" height="300">
<h1>{{data.name}}</h1>
<p>{{data.description}}</p>

<h3>Food Pairing</h3>

<ul>
    {{#each data.food_pairing}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p><b>Brewers Tips: </b>{{data.brewers_tips}}</p>

